$primary-color: #fbfaf5;
$secondary-color: #362419;
$background-color: #fbfaf5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #362419;
  } @else {
    @return #fbfaf5;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
// e9d5ca
